
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2 style="color:#003399;">WELCOME</h2>
Welcome to online hostel management system.<br />
Hostel Admin,Manager & Members can see account details online .<br />
Just click <a href="~/User" class="btn btn-info" role="button">Log In</a> and access your account.<br />
Life will become easy and faster.<br />

